<!-- page to view in depth data -->
<!Doctype html>
<html>
<head>
    <title></title>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>



<body class="container">
    <div class="page-header">
        <h1>Wait for Weight Loss</h1>
    </div>
  
  <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/">Homepage</a></li>
            <li><a href="/login">Log out</a></li>
            <li><a href="/dashboard">Your Dashboard</a></li>
          </ul>


<!--chart-->

    {{{body}}}
</body>
</html>







<!--<div class="container row">
    <h1>Hello User, welcome to your weight loss tracker</h1>
</div>> -->

