.container{
    display:flex;
    flex-direction: column;
}
html {
    background-image: url(loss.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
 
  }
h1 {
    text-align: center;
}

body {
    background-color: rgb(243, 243, 243);
}
